.container{
    width:200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
}

.container div{
    width: 20px;
    height: 20px;
    
}

.snake{
    background-color: black;
}

.apple{
    background-color: green;
}

/* animation when game over */


/* set backgroun and center game */

/* do mobile version */

/* do head and tail round depending on directiong */