.container{
    width:200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    margin-left: 100px;
}
.score{
    
    width: fit-content;
    margin-top: 10px;
    margin-left: 170px;
    background-color: lightblue;
    color: red;
    border-radius: 30px;
    padding: 5px;
}
.score span{
    padding-left: 3px;
    color: green;
}

.container div{
    width: 20px;
    height: 20px;
    
}

.snake{
    background-color: black;
}

.apple{
    background-color: green;
    border-radius: 50px;
}

.start-button{
    margin-left: 150px;
    margin-bottom: 10px;
    border: none;
    background-color: lightblue;
    border-radius: 30px;
    padding: 5px;
}

/* animation when game over */


/* set backgroun and center game */

/* do mobile version */

/* do head and tail round depending on directiong */