body{
    position: relative;
}
.game-over{
    font-weight: 900;
    color: red;
    position: absolute;
    top:120px;
    left: 150px;
    display: none;
}

.blink {
    display:flex;
    animation: blinker 1s step-start infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
.container{
    width:200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    margin-left: 100px;
}
.score{
    
    width: fit-content;
    margin-top: 10px;
    margin-left: 170px;
    background-color: lightblue;
    border-radius: 30px;
    padding: 5px;
}
.score span{
    padding-left: 3px;
    color: green;
}

.container div{
    width: 20px;
    height: 20px;
    
}

.snake{
    background-color: black;
}

.apple{
    background-color: green;
    border-radius: 50px;
}

.start-button{
    margin-left: 150px;
    margin-bottom: 10px;
    border: none;
    background-color: lightblue;
    border-radius: 30px;
    padding: 5px;
}

